body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;

}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 200px 20px 20px;
}

.link {
    cursor: pointer;
    margin: 20px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.link:hover {
    scale: 1.1;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

    gap: 100px;
}

.mainText {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 500px;
    font-size: 20px;
    word-spacing: 5px;
    letter-spacing: 2px;

}


.profilePicture {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

#projectBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#contactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.btn:hover {
    scale: 1.1;
}

#firstPartHeaderText {
    font-size: 80px;
    font-weight: 150;
}

.headerText {
    font-size: 60px;
    font-weight: 400;
}

@keyframes swipeLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes swipeRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.swipe-left {
    animation: swipeLeft 0.9s ease-in-out forwards;
}

.swipe-right {
    animation: swipeRight 0.9s ease-in-out forwards;
}

/* Contact part ----------------------------------*/

#contactMainContainer {
    display: none;
    width: 100vw;
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.swipe-in {
    animation: swipeIn 0.9s ease-in-out forwards;
    display: flex;
}

.swipe-out {
    animation: swipeOut 0.9s ease-in-out forwards;
}

.swipe-to-projects {
    animation: swipeToProjects 0.9s ease-in-out forwards;
}

.swipe-back-to-main {
    animation: swipeBackToMainPage 0.9s ease-in-out forwards;
}
.swipe-from-left-to-right {
    animation: swipeFromLeftToRight 0.9s ease-in-out forwards;
}
@keyframes swipeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }

}

@keyframes swipeBackToMainPage {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes swipeBackRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes swipeFromLeftToRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeToProjects {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.contactDiv {
    width: 150px;
    height: 150px;
}

.contactLogo {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.contactLogo:hover {
    transform: scale(1.1);
}

.goBackBtn {
    width: 20%;
    height: 20%;
    background: none;
    border: none;
}

/*PROJECTS PAGE*/
#projectsMainContainer {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 80vh;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    background: #faf8f8;
    border-radius: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}

.projectImageContainer {
    height: 150px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.projectImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.projectHeader {
    margin-left: 15px;
}

.projectText {
    margin-left: 15px;
}