body {
    font-family: kanit, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    display: flex;
    flex-wrap: wrap;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;

}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    margin: 0;
    width: 70%;
}

a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 3em;
    padding: 0px 5px;
    transition: color 0.6s;
    cursor: pointer;
}

a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #c9fafa;
    height: 20%;
}


a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #c9fafa;
    transition: height 0.5s ease-in-out;
    z-index: -1;
    border-radius: 5%;
}


a:hover::after {
    height: 100%;
}

#img-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 10%;
    gap: 10%;
}
#presentation-div{
    height: 100%;
    width: 40%;
    background: #e3f2fd;
    display: flex;
    border-radius: 10%;
    padding: 1%;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#name{
    font-size: 3em;
    text-align: center;
}
#description{
    font-size: 2em;
}

#profile-img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
}

#profilePicture {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 5px solid #c9fafa;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

#thugLifeGlasses {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 16%;
    left: 33%;
    display: none;
    z-index: 10;
}



@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    a {
        font-size: 1.2em;
        display: block;
        padding: 10px;
    }
}
.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode a {
    color: white;
}
.dark-mode a::before,
.dark-mode a::after {
    background: #6d7154;
}

.dark-mode #presentation-div {
    background: #1e1e1e;
    color: white;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

.dark-mode #profilePicture {
    border: 5px solid #6d7154;
}